.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 12px;
  line-height: 16px;
  color: rgba(52, 84, 122, 0.7);
}

.breadcrumbs__item {
  margin-right: 35px;
  position: relative;

  &::after {
    content: "/";
    position: absolute;
    display: inline-block;
    margin-left: 15px;
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}

.breadcrumbs__link {
  color: rgba(52, 84, 122, 0.7);

  &[href]:hover,
  &[href]:focus {
    text-shadow: 0 2px 2px rgba(#000000, 0.2);
    color: rgb(52, 84, 122);
  }
}
