.page-content {
  display: flex;

  &--innerpage {
    background-color: rgba(255, 255, 255, 0.75);

    .page-content__wrapper {
      padding-top: 25px;
      padding-bottom: 80px;
      display: grid;
      grid-template-rows: min-content min-content;
      grid-template-columns: 300px auto;
      column-gap: 50px;
      justify-content: space-between;
      grid-template-areas:
        "breadcrumbs breadcrumbs"
        "side-menu text-content";
    }
  }

  &--login-page {
    background-color: rgba(52, 84, 122, 0.15);
    display: flex;
    align-items: center;

    .page-content__wrapper {
      padding-top: 70px;
      padding-bottom: 70px;
    }
  }

  &--not-found {
    background-color: rgba(255, 255, 255, 0.75);

    .page-content__wrapper {
      padding-top: 40px;
      padding-bottom: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.page-content__wrapper {
  width: 1220px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.page-content__breadcrumbs {
  grid-area: breadcrumbs;
  margin: 0;
  margin-bottom: 40px;
  margin-left: 10px;
}

.page-content__side-menu {
  grid-area: side-menu;
}

.page-content__text-content {
  grid-area: text-content;
}

.page-content__login-form {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.page-content__registration-form {
  width: 730px;
  margin-left: auto;
  margin-right: auto;
}

.page-content__not-found {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1219px) {
  .page-content {
    &--innerpage {
      .page-content__wrapper {
        display: block;
      }
    }
  }

  .page-content__wrapper {
    width: 768px;
  }

  .page-content__registration-form {
    width: 100%;
  }

  .page-content__side-menu {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .page-content--innerpage {
    .page-content__wrapper {
      display: block;
      padding-top: 20px;
      padding-bottom: 40px;
    }
  }

  .page-content__wrapper {
    width: 375px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .page-content__login-form {
    width: 100%;
  }

  .page-content__breadcrumbs {
    margin-bottom: 25px;
  }
}
