.partners {
  background-color: rgba(255, 255, 255, 0.8);
}

.partners__wrapper {
  // overflow-x: scroll;
  // -webkit-overflow-scrolling: touch;
  padding-top: 75px;
  padding-bottom: 30px;

  // &::-webkit-scrollbar {
  //   display: none;
  // }
}

.partners__title {
  width: 1220px;
  margin: 0;
  margin-right: auto;
  margin-bottom: 75px;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;

  text-align: center;

  color: #004578;

  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
}

.partners__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  padding: 0;

  list-style: none;

  column-gap: 32px;
  row-gap: 32px;
}

.partners__item {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  justify-content: center;

  width: 270px;
  height: 158px;

  border-radius: 5px;
  background: rgba(236, 239, 244, 0.5);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  &:last-child {
    margin-right: 0;
  }
}

@include media-tablet {
  .partners__wrapper {
    width: 768px;
  }

  .partners__title {
    width: auto;
  }

  .partners__list {
    margin: 0;
  }
}

@include media-mobile {
  .partners__wrapper {
    width: 375px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .partners__title {
    margin-bottom: 20px;

    font-size: 40px;
  }

  .partners__list {
    margin: 0;
  }
}
