.product-item--more {
  .product-item__title {
    color: #004578;
  }
}

.product-item__link {
  display: flex;
  align-items: center;

  margin-bottom: 8px;

  &:hover,
  &:focus {
    .product-item__title {
      color: #9b070c;
    }

    .product-item__icon {
      fill: #9b070c;
    }
  }
}

.product-item__icon {
  display: block;
  flex-shrink: 0;

  width: 100px;
  height: 100px;
  margin-right: 20px;

  fill: #004578;

  use {
    width: 100px;
    height: 100px;
  }
}

.product-item__title {
  margin: 0;

  color: #373d40;

  font-size: 32px;
  line-height: 39px;
}

.product-item__small-title {
  display: block;

  color: #004578;

  font-size: 24px;
  line-height: 29px;
}

.product-item__desc {
  margin: 0;

  font-size: 20px;
  line-height: 24px;
}

@include media-mobile {
  .product-item__icon {
    width: 60px;
    height: 60px;
    margin-right: 10px;

    use {
      width: 60px;
      height: 60px;
    }
  }

  .product-item__title {
    font-size: 20px;
    line-height: 24px;
  }

  .product-item__small-title {
    font-size: 16px;
    line-height: 19px;
  }

  .product-item__desc {
    font-size: 14px;
    line-height: 17px;
  }
}
