.promo {
  position: relative;
}

.promo__wrapper {
  width: 1220px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 120px;
  padding-right: 20px;
  padding-bottom: 168px;
  padding-left: 20px;
}

.promo__logo {
  width: 802px;
  height: auto;
  margin: 0;
  margin-bottom: 55px;
}

.promo__logo-image {
  width: 802px;
  height: auto;
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;

  text-transform: uppercase;

  color: #004578;

  font-size: 32px;
  line-height: 32px;
}

.promo__small-title {
  display: block;

  margin-top: 5px;

  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.promo__desc {
  width: 600px;
  margin: 0;
  margin-bottom: 70px;

  color: #373d40;

  font-size: 24px;
  line-height: 27px;
}

.promo__links {
  display: flex;
  flex-wrap: wrap;

  column-gap: 35px;
}

.promo__link {
  min-width: 250px;

  text-transform: uppercase;

  color: #e3e3e4;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);

  font-size: 24px;
  line-height: 29px;

  &--white {
    color: #34547a;
    background-color: #ffffff;
  }
}

@include media-tablet {
  .promo__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: auto;

    &::before {
      display: none;
    }
  }

  .promo__logo {
    width: 445px;
  }

  .promo__logo-image {
    width: 445px;
    height: auto;
  }

  .promo__title {
    text-align: center;

    font-size: 28px;
  }

  .promo__desc {
    width: auto;
    margin-bottom: 50px;
    padding-right: 70px;
    padding-left: 70px;

    text-align: center;

    font-size: 20px;
  }

  .promo__link {
    font-size: 20px;
    line-height: 1.2;
  }
}

@include media-mobile {
  .promo__wrapper {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .promo__logo {
    width: 100%;
    max-width: 375px;
  }

  .promo__logo-image {
    width: 100%;
  }

  .promo__title {
    margin-bottom: 20px;

    font-size: 20px;
    line-height: 27px;
  }

  .promo__small-title {
    font-size: 14px;
    line-height: 20px;
  }

  .promo__desc {
    margin-bottom: 40px;
    padding: 0;

    font-size: 14px;
    line-height: 20px;
  }

  .promo__links {
    justify-content: center;

    row-gap: 25px;
  }

  .promo__link {
    font-size: 16px;
  }
}
