.side-menu__list {
  margin: 0;
  padding: 0;

  list-style: none;

  color: #34547a;

  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.side-menu__item {
  position: relative;

  overflow: hidden;

  margin-bottom: 15px;

  border: 2px solid #eceff4;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 10px rgba(27, 92, 139, 0.25);

  &:last-child {
    margin-bottom: 0;
  }

  &--active {
    .side-menu__link {
      color: #ffffff;
      background-color: #34547a;
    }
  }

  &:hover,
  &:focus {
    border-color: #34547a;
  }

  &--opened {
    .side-menu__submenu {
      display: block;
    }

    .side-menu__toggler-icon {
      transform: rotate(-90deg);
    }
  }
}

.side-menu__link {
  display: block;

  padding-top: 12px;
  padding-right: 32px;
  padding-bottom: 12px;
  padding-left: 15px;

  color: #34547a;
}

.side-menu__toggler {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 44px;
  margin: 0;
  padding: 0;

  cursor: pointer;

  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &:hover,
  &:focus {
    .side-menu__toggler-icon {
      stroke: #9d231f;
    }
  }
}

.side-menu__toggler-icon {
  display: block;

  transform: rotate(180deg);
}

.side-menu__submenu {
  display: none;

  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;

  list-style: none;

  border-top: 2px solid #eceff4;

  font-size: 18px;
  font-weight: 400;
  line-height: 20px;

  &--closed {
    display: none;
  }
}

.side-menu__submenu-item {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.side-menu__submenu-link {
  color: #34547a;
}

@include media-tablet {
  .side-menu__list {
    font-size: 14px;
    line-height: 1.2;
  }

  .side-menu__item {
    margin-bottom: 10px;
  }

  .side-menu__link {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .side-menu__toggler {
    height: 36px;
  }
}
